<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3 style="text-align: center; color: green">
    <span th:text="'Form generation initiated by ' + ${initiator} + ' on ' + ${timestamp} + '.'"></span>
</h3>
    <table style="width: 100%; border: black solid 2px">
        <thead>
        <tr>
            <th> Client Name </th>
            <th> Company Name </th>
            <th> Active Accounts </th>
            <th> Account Beneficiary </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${fileRecords.isEmpty()}">
            <td colspan="2"> No records were found in CSV file</td>
        </tr>
        <tr style="border-top: dimgray solid 1px" th:each="fileRecord : ${fileRecords}">
            <td><span th:text="${fileRecord.clientName}"> Client Name </span></td>
            <td><span th:text="${fileRecord.companyName}"> Company Name </span></td>
            <td><span th:text="${fileRecord.activeAccounts}"> Number of Active Accounts </span></td>
            <td><span th:text="${fileRecord.accountBeneficiary}"> Account Beneficiary </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>